In [11]:
import pandas as pd
import numpy as np

In [12]:
table = pd.read_csv('data/adult.data.csv')
table.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
print(table.shape) # 32561 строка и 20 столбцов
#1. Сколько женщин (признак sex) представлено в этом наборе данных? *
table[(table['sex'] == 'Female')].shape[0]
#or
#table['sex'].value_counts()

(32561, 15)

10771

In [14]:
#2. Каков средний возраст (признак age) женщин?
table[(table['sex'] == 'Female')]['age'].mean()

36.85823043357163

In [45]:
#3. Какова доля граждан Германии (признак native-country)?
table['native-country'].str.contains('Germany').mean()
#or
#table['native-country'].value_counts(normalize=True)

0.004207487485028101

In [16]:
#4. Каковы средние и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary)? *
table[(table['salary'] == '>50K')]['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [17]:
#5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает менее 50K в год (признак salary)? *
table[(table['salary'] == '<=50K')]['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [56]:
# 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? 
# (признак education равен Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate) *
table[(table['education'] == 'Bachelors') |
      (table['education'] == 'Prof-school') |
      (table['education'] == 'Assoc-acdm') |
      (table['education'] == 'Assoc-voc') |
      (table['education'] == 'Masters') |
      (table['education'] == 'Doctorate') & (table['salary'] == '>50K')
     ]['salary'].value_counts()
#or
#table[table['salary'] == '>50K']['education'].value_counts()

<=50K    5874
>50K     4535
Name: salary, dtype: int64

In [54]:
#7. Каков максимальный возраст мужчин расы Amer-Indian-Eskimo? *
table[(table['race'] == 'Amer-Indian-Eskimo')]['age'].max()

82

In [21]:
# 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин 
# (признак marital-status для женатых равен Married-civ-spouse, Married-spouse-absent или Married-AF-spouse)? *
table[(table['salary'] == '>50K')&(table['sex'] == 'Male')]['marital-status'].value_counts()

Married-civ-spouse       5938
Never-married             325
Divorced                  284
Separated                  49
Widowed                    39
Married-spouse-absent      23
Married-AF-spouse           4
Name: marital-status, dtype: int64

In [28]:
#9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? 
#Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много? *
print('Максимальное число часов: ',table['hours-per-week'].max())
print('Сколько людей работают такое количество часов: ',table[(table['hours-per-week'] == table['hours-per-week'].max())].shape[0])
table[(table['hours-per-week'] == table['hours-per-week'].max())]['salary'].value_counts(normalize = True) #Каков среди них процент зарабатывающих много

Максимальное число часов:  99
Сколько людей работают такое количество часов:  85

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [44]:
#10. Каково среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для Японии? *
print('Много: ',table[(table['salary'] == '>50K') & (table['native-country'] == 'Japan')]['hours-per-week'].mean())

Много:  47.958333333333336

In [43]:
print('Мало: ',table[(table['salary'] == '<=50K')  & (table['native-country'] == 'Japan')]['hours-per-week'].mean())

Мало:  41.0